@page "/StreamRenderingChild"

<SharedMessageStreamTrue Title="Level 1">
    <div>
        <SharedMessageStreamTrue Title="Level 2-1" />
    </div>
    <hr />
    <div>
        <SharedMessageStreamTrue Title="Level 2-2">
            <div>
                <SharedMessageStreamTrue Title="Level 3" />
            </div>
        </SharedMessageStreamTrue>
    </div>
</SharedMessageStreamTrue>
