@page "/PrerenderingServer"

<div class="card">
    <div class="card-header">
        预呈现 (Server)
    </div>
    <div class="card-body">
        <SharedMessageStreamTrue @rendermode="new InteractiveServerRenderMode(prerender: true)" Title="Prerender true" />
        <hr />
        <SharedMessageStreamTrue @rendermode="new InteractiveServerRenderMode(prerender: false)" Title="Prerender false" />
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>