@page "/PrerenderingWebAssembly"

<div class="card">
    <div class="card-header">
        预呈现 (WebAssembly)
    </div>
    <div class="card-body">
        <SharedMessageStreamTrue @rendermode="new InteractiveWebAssemblyRenderMode(prerender: true)" Title="Prerender true" />
        <hr />
        <SharedMessageStreamTrue @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" Title="Prerender false" />
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>