<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDemoOn8</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Normal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor普通页
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InitializedError">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor页载入异常
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClickError">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor点击异常
            </NavLink>
        </div>
    </nav>
</div>

