@page "/WrapperPage"

<div class="card">
    <div class="card-header">
        静态渲染-包装器 (WrapperPage)
    </div>
    <div class="card-body">
        <WrapperComponent @rendermode="RenderMode.InteractiveServer" />
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>
