@page "/Normal"
@using System.Runtime.InteropServices
<div class="card">
    <div class="card-header">
        @Title
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "正常的页面";

}
