@page "/RenderModeInheritanceServer"
@rendermode RenderMode.InteractiveServer

<div class="card">
    <div class="card-header">
        呈现模式继承-Server (RenderModeInheritanceServer)
    </div>
    <div class="card-body">
        <SharedMessage />
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>
