@using System.Runtime.InteropServices
<div class="card">
    <div class="card-header">
        SectionIdMessage
    </div>
    <div class="card-body">
        <button class="btn btn-primary" @onclick="UpdateMessage">SharedMessage中点击</button>
        <p>
            @message
        </p>
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>

<SectionContent SectionId="SectionId.SectionIdMessageContent">
    <div class="card">
        <div class="card-header">
            来自SectionIdMessage组件
        </div>
        <div class="card-body">
            <button class="btn btn-primary" @onclick="UpdateMessage">SectionContent中点击</button>
        </div>
    </div>
</SectionContent>

@code {
    private string message = "没有点击";
    private int clickCount = 0;

    private void UpdateMessage()
    {
        message = $"已经点击 {++clickCount} 次";
    }
}