@using System.Runtime.InteropServices
@rendermode InteractiveServer
<div class="card">
    <div class="card-header">
        SectionBrotherContext
    </div>
    <div class="card-body">
      
    </div>
    <div class="card-footer">
        OSDescription:@RuntimeInformation.OSDescription
    </div>
</div>

<SectionContent SectionName="section-brother">
    <span>我是来自SectionBrotherContext组件的内容</span>
</SectionContent>

